" use system clipboard
set clipboard^=unnamed,unnamedplus

" junp between angle brackets
set matchpairs+=<:>

" leader key
let mapleader=' '

" source config
noremap <leader>cs :source ~/.ideavimrc<cr>

" highlight search results
set hlsearch

" j j to escape insert mode
inoremap jj <esc>

" fold fix
noremap j gj
noremap k gk

" case-insenstive search
set ignorecase
set smartcase

" search while typing
set incsearch

" show hover
map gh <Action>(ShowHoverInfo)

" window split
map <leader>wv <Action>(SplitVertically)

map <leader>wh <Action>(SplitHorizontally)

map <leader>ww <Action>(Unsplit)

map <leader>wa <Action>(UnSplitAll)


" quick search
map <leader>sc <Action>(GotoClass)

map <leader>sf <Action>(GotoFile)

map <leader>ss <Action>(GotoSymbol)

map <leader>sa <Action>(GotoAction)

map <leader>ug <Action>(FindUsages)
map <leader>uu <Action>(ShowUsages)


map <leader>vs <Action>(ViewSource)
" map <leader>uu <Action>()