/* Reset Font Family */
.mac,
.windows,
.linux {
  font-family: "FiraCode Nerd Font Propo";
}

.quick-input-widget {
  top: 20% !important;
  /* half of the width  */
  left: calc(50% - 400px) !important;

  /* 600px */
  width: 800px !important;
  /* 300px */
  margin-left: 0px !important;

  border: 0px solid transparent !important;
}

.quick-input-widget::after {
  content: "";
  position: absolute;
  inset: -0.625em;
  z-index: -1;

  background: linear-gradient(
    60deg,
    var(--vscode-terminal-ansiBlue),
    var(--vscode-terminal-ansiMagenta),
    var(--vscode-terminal-ansiCyan)
  );
  filter: blur(64px);
  animation: breathing 4s infinite ease-in-out;
}

/* title-bar */
.quick-input-titlebar {
  background-color: var(--vscode-quickInput-background) !important;
  padding-top: 4px;
  padding-bottom: 4px !important;
  margin-bottom: -8px;
  border-radius: 8px 8px 0 0 !important;
}

/* field */
.quick-input-header {
  background-color: var(--vscode-quickInput-background);
  padding: 8px !important;
  border-radius: 10px 10px 0px 0px !important;
}

/* input element container */
.quick-input-header > .quick-input-and-message .monaco-inputbox {
  border-radius: 4px !important;
  border-color: transparent !important;
}

div.monaco-progress-container.quick-input-progress.done {
  background-color: var(--vscode-quickInput-background);
}

/* list of results */
.quick-input-list > .monaco-list > .monaco-scrollable-element {
  padding: 0px !important;
}

.quick-input-list {
  margin-top: 0px !important;
  padding: 8px !important;
  background-color: var(--vscode-quickInput-background);
  border-radius: 0px 0px 10px 10px !important;
}

.quick-input-html-widget {
  background-color: var(--vscode-quickInput-background) !important;
  border-radius: 0px 0px 10px 10px !important;
}

.quick-input-tree {
  background-color: var(--vscode-quickInput-background) !important;
  border-radius: 0px 0px 10px 10px !important;
}

/* 侧边栏按钮居中 */
.composite-bar-container {
  justify-content: center !important;
}

/* 侧边栏按钮增加一点间距 */
#workbench\.parts\.sidebar
  > div.composite.has-composite-bar.header-or-footer.header
  > div
  > div
  > div
  > ul {
  gap: 4px !important;
}

@keyframes breathing {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

/* 修复 welcome page 标题被截断的问题 */
.monaco-workbench .part.editor > .content .gettingStartedContainer h1 {
  line-height: 3rem !important;
}

/* at right */
/* .titlebar {
  background-color: unset !important;
  background-image: radial-gradient(
      240px 305.23% at 96% -144.12%,
      rgba(from var(--vscode-terminal-ansiBlue) r g b / 0.75) 0%,
      var(--vscode-titleBar-activeBackground) 100%
    ),
    linear-gradient( 45deg,
      var(--vscode-titleBar-activeBackground),
      var(--vscode-titleBar-activeBackground)
    );
} */

.titlebar {
  background-color: unset !important;
  background-image: radial-gradient(
      240px 405.23% at 200px -144.12%,
      rgba(from var(--vscode-terminal-ansiBlue) r g b / 0.55) 0%,
      transparent 90%,
      transparent 100%
    ),
    radial-gradient(
      280px 405.23% at 320px 300%,
      rgba(from var(--vscode-terminal-ansiWhite) r g b / 0.45) 0%,
      transparent 90%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      var(--vscode-titleBar-activeBackground),
      var(--vscode-titleBar-activeBackground)
    );
}

.titlebar-left {
  display: none !important;
}

.titlebar-center {
  margin-left: 90px !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  background-color: unset !important;
  border: none !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center
  .action-item.command-center-quick-pick {
  justify-content: start !important;
  align-items: end !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center:only-child {
  justify-content: start !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  justify-content: start !important;
  margin-left: 10px !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center
  .action-item.command-center-quick-pick
  .search-label {
  font-size: 13px;
  /* margin-left: 8px; */
}

/* .monaco-workbench
  .part.statusbar
  > .items-container
  > .statusbar-item.remote-kind {
  color: var(--vscode-statusBarItem-remoteBackground);
  background-color: rgba(
    from var(--vscode-statusBarItem-remoteBackground) r g b / 0.45
  );
  background-color: unset !important;
  background-image: radial-gradient(
    100% 305.23% at 100px -144.12%,
    rgba(from var(--vscode-statusBarItem-remoteBackground) r g b / 0.15) 0%,
    var(--vscode-statusBarItem-remoteBackground) 20%
  );
} */

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  color: var(--vscode-tab-activeForeground) !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  width: 24vw !important;
  max-width: 400px !important;
}

/* add space between chat and terminal */
.part.auxiliarybar.basepanel.right.pane-composite-part
  .split-view-container
  .split-view-view:nth-child(2).visible
  .pane.expanded.vertical {
  padding-top: 8px !important;
}
